body {
    background-color: #121212; /* Dark background color */
    color: #ffffff; /* Light text color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    color: #ffffff; /* Light text color */
    text-align: center;
    width: 100%;
    margin: 0;
    padding-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 10px;
    font-size: 20px;
    color: #ffffff; /* Light text color */
}

p1 {
    margin-top: 10px;
    font-size: 30px;
    color: #ffffff; /* Light text color */
/*    font-weight: bold; /* Makes the text bold */
    text-decoration: underline; /* Underlines the text */
}

.button-container {
    display: flex;
    justify-content: flex-start; /* Align buttons to the left */
    gap: 10px; /* Space between buttons */
    margin-bottom: 20px; /* Space below the buttons */
    width: 100%; /* Make sure the container takes the full width */
    padding-left: 5px; /* Add left padding for alignment */
}

.button-container button {
    font-size: 16px; /* Adjusted button font size */
}

.medieval-button {
    padding: 10px 20px;
    background-color: #795649; /* A dark wood-like brown */
    color: #f4e5c3; /* A parchment-like off-white */
    border: 2px solid #c0a080; /* A lighter brown border */
    font-family: 'Goudy Bookletter 1911', serif; /* A font with an old-style feel */
    font-size: 18px;
    text-shadow: 1px 1px 0px #a67c52; /* Gives a bit of depth to the text */
    box-shadow: 2px 2px 0px #a67c52; /* Simulates an inset look */
    border-radius: 4px; /* Slightly rounded corners */
    cursor: pointer;
    transition: all 0.3s ease;
}

.medieval-button:hover {
    background-color: #8a6e2f; /* A lighter, worn wood color for hover */
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3); /* A more pronounced shadow for hover */
}

.medieval-button:active {
    box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.5); /* An inset shadow for a pressed effect */
    transform: translateY(2px); /* Moves the button down to simulate a press */
}
